<%- include("partials/header"); -%>
<h1>Home</h1>
<div class="max-width">
<p><%= homeContent %></p>
</div>

<!-- blogs -->
<div class="row mb-2">
<% for(var i=posts.length - 1; i>=0; i-- ) { %>
    <% var postBody = ""; %>
    <% if ( posts[i].postBody.length > 100 ) {postBody = posts[i].postBody.slice(0, 100) + "..."} else {postBody = posts[i].postBody} %>
    <div class="col-md-4">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative padding">
            <h3 class="mb-0"> <%= posts[i].postTitle %> </h3>
            <p class="card-text mb-auto"> <%= postBody %> </p>
            <a class="stretched-link" href="/post/<%= posts[i]._id%>">Continue reading</a>
        </div>
    </div>
    <% } %>
</div>



<%- include("partials/footer"); -%>